# Database connection string
DATABASE_URL=file:./field-notes.db

# Used to encrypt JWT tokens
PAYLOAD_SECRET=replace-with-a-long-random-value

# Used to configure CORS, format links and more. No trailing slash
NEXT_PUBLIC_SERVER_URL=http://localhost:3000

# Secret used to authenticate cron jobs
CRON_SECRET=replace-with-another-random-value

# Used to validate preview requests
PREVIEW_SECRET=replace-with-a-third-random-value
